<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/">

    <header class="p-3 bg-info text-white" th:fragment="header">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <a href="/">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="34" height="32" viewBox="0,0,300,150" class="bi bi-basket">
                                <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.12,5.12)"><path d="M25,1.05078c-0.2175,0 -0.43414,0.06898 -0.61914,0.20898l-23,17.95117c-0.43,0.34 -0.50992,0.9682 -0.16992,1.4082c0.34,0.43 0.9682,0.50992 1.4082,0.16992l1.38086,-1.07812v26.28906c0,0.55 0.45,1 1,1h14v-18h12v18h14c0.55,0 1,-0.45 1,-1v-26.28906l1.38086,1.07812c0.19,0.14 0.39914,0.21094 0.61914,0.21094c0.3,0 0.58906,-0.13086 0.78906,-0.38086c0.34,-0.44 0.26008,-1.0682 -0.16992,-1.4082l-23,-17.95117c-0.185,-0.14 -0.40164,-0.20898 -0.61914,-0.20898zM35,5v1.05078l6,4.67969v-5.73047z"></path></g></g>
                            </svg>
                        </a>

<!--                    <li><a href="/" class="nav-link px-2 text-white">Главная</a></li>-->
<!--                    <li><a href="/manager/add" class="nav-link px-2 text-white">Управление</a></li>-->
<!--                    <li><a sec:authorize="hasRole('ROLE_MANAGER')" href="/manager/add" class="nav-link px-2 text-white">Управление</a></li>-->
<!--                    <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>-->
<!--                    <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>-->
<!--                    <li><a href="#" class="nav-link px-2 text-white">About</a></li>-->
                </ul>

                <div class="text-end">
                    <a href="#" class="badge text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                        </svg>
                    </a>
                    <ul class="dropdown-menu text-small shadow">
                        <li><a class="dropdown-item" th:href="@{/profile}">Личный кабинет</a></li>
                        <li sec:authorize="hasAnyRole('ROLE_MANAGER')"><a class="dropdown-item" th:href="@{/manager/add}">Кабинет менеджера</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li sec:authorize="!isAuthenticated()"><a class="dropdown-item" th:href="@{/login}">Войти</a></li>
                        <li sec:authorize="!isAuthenticated()"><a class="dropdown-item" th:href="@{/register}">Регистрация</a></li>
                        <li sec:authorize="isAuthenticated()"><a class="dropdown-item" th:href="@{/logout}">Выйти</a></li>


                    </ul>

                    <a class="badge" href="/cart">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                            <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9zM1 7v1h14V7zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </header>

</html>
