<html
        xmlns:th="http://thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <title>Авторизация</title>
</head>

<body >

<header th:insert="fragments/header"/>



<div class="marketing container">
    <div class="row featurette">
        <div th:if="${param.error}" class="alert alert-danger">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}" class="alert alert-success" th:action="${user}">
            You have been logged out.</div>
        <div class="form-signin w-100 mb-3 d-flex justify-content-center pt-5 ">
            <form method="post" th:action="@{/login}" class="shadow-lg p-3 mb-5 bg-body rounded">
                <div class="form-group ">
                    <h1 class="h3 mb-3 fw-normal">Авторизация</h1>

                    <label>Username</label>
                    <input
                            id="email"
                            type="email"
                            class="form-control"
                            placeholder="email@example.com"
                            name="email">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input
                            id="password"
                            type="password"
                            class="form-control"
                            placeholder="Password"
                            name="password">
                </div>
                <hr class="my-4">
                <a th:href="@{/register}" class="btn btn-black">Нет аккаунта? Зарегистрируйтесь </a>
                <button type="submit" value="Log in" class="btn btn-primary">Войти</button>
            </form>
        </div>
    </div>
</div>


</body>

</html>